.der {
width: 100%; 
background: linear-gradient(180deg, #111110 45%, #111110d9);
height: 50pt; 
padding: 0pt; 
margin: 0%; 
align-items: center; 
justify-content: center;
text-align: center;
display: flex;
position: sticky;
  top: 0px;
    
} 

* { padding: 0pt;margin: 0pt;

    
}

.logo {
    
    width: 70pt;
}

.navv { 
      width: 50%; 
      height: 20pt;
      background-color: #111110;
      border-radius: 10pt;
      display: flex;
      align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 1pt;
      
     
}

.contnav { 
    color: white;
    font-size: 80%;
    align-items: center; 
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 1%;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    
    
}

.mshelp1 { position: absolute;

    animation-duration: 30s;
    animation-name: msh1;
    animation-iteration-count: infinite;
    

}

.mshelp2 { position: absolute;

    animation-duration: 30s;
    animation-name: msh2;
    animation-iteration-count: infinite;

}

@keyframes msh1 {

    0% {color: #FFFFFF00;

    }

    20% {color: #FFFFFF00;

    }

    25% {color: #FFFFFF;

    }

    30% {color: #FFFFFF00;

    }

    35% {color: #FFFFFF;

    }

    40% {color: #FFFFFF;

    }

    50% {color: #FFFFFF00;

}

    100% {color: #FFFFFF00;

}

}

@keyframes msh2 {

    0% {color: #FFFFFF00;

    }

    50% {color: #FFFFFF00;

    }

    60% {color: #FFFFFF;

    }

    80% {color: #FFFFFF;

    }

    90% {color: #FFFFFF00;

    }

    
    100% {color: #FFFFFF00;

    }

}
    
