

body {
    background-color: #FBFBFB;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.logo {
width: 5%;
min-width: 33px;
max-width: 80px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
margin: 0;
padding: 1vh;
}

.navv { 
      width: 50%; 
      height: 20pt;
      background-color: #111110;
      border-radius: 10pt;
      display: flex;
     
      align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    bottom:0%;
        opacity: 90%;
     backdrop-filter: blur(10px);
  

      
     
}

.contnav { 
    color: white;
    font-size: 90%;
    align-items: center; 
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    position: fixed;
    bottom:0%;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    margin: 0%;
    padding: 0%;
    z-index: 4;
    border-color: #FBFBFB;
    border-style: solid;
    border-width: 10px;
    border-left: none;
    border-right: none;
    
    
}

.mshelp1 { position: absolute;

    animation-duration: 30s;
    animation-name: msh1;
    animation-iteration-count: infinite;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
    

}

.mshelp2 { position: absolute;

    animation-duration: 30s;
    animation-name: msh2;
    animation-iteration-count: infinite;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

@keyframes msh1 {

    0% {color: #FFFFFF00;

    }

    20% {color: #FFFFFF00;

    }

    25% {color: #FFFFFF;

    }

    30% {color: #FFFFFF00;

    }

    35% {color: #FFFFFF;

    }

    40% {color: #FFFFFF;

    }

    50% {color: #FFFFFF00;

}

    100% {color: #FFFFFF00;

}

}

@keyframes msh2 {

    0% {color: #FFFFFF00;

    }

    50% {color: #FFFFFF00;

    }

    60% {color: #FFFFFF;

    }

    80% {color: #FFFFFF;

    }

    90% {color: #FFFFFF00;

    }

    
    100% {color: #FFFFFF00;

    }

}
    


.contnav:hover {

    bottom:0%;
    
} 
 
  .navv:hover {
    animation-duration: 1.5s;
    animation-name: menuh;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
   
}

  @keyframes menuh {
    

    0% {width: 50%;
    bottom: 1%;
 transition: opacity 0.7s, visibility 0s 0.1s;}


    100% {width: 100%; 
        height: 50pt;
        bottom: 0%;
    border-radius: 0pt;

 
    
    }
  }

  .menu {
    visibility: hidden;
    pointer-events: none;
  }

  .ico {
    height: 20pt;
    list-style: none;
    margin: 30pt; }
    
.ico:hover {animation: alternate-reverse;
    animation-name: ican;
    animation-duration: 0.5s;

}

@keyframes ican {
    from {height: 20pt;}
    to {height: 20pt;
        filter: blur(0.2rem);}
}
 

  .navv:hover .menu{
    visibility:visible;
display: flex;
animation-name: icons;
animation-duration: 1s;
animation-fill-mode: forwards;
pointer-events: auto;

  }

  .navv:hover .mshelp2{
    display: none;
      }

      .navv:hover .mshelp1{
        display: none;
          }

 @keyframes icons {

    0% {opacity: 0%;
    bottom: -200px;
position: fixed;}

    50% {opacity: 0%;}
    100% {opacity: 100%;}
 }        

 .boton {border: none;
    
    box-shadow: none;
cursor: pointer;
background-color: transparent;
-webkit-tap-highlight-color: rgba(0,0,0,0);}


.popover {

    width: 100%;
    height: 93%;
background-color: transparent;
color: #111110;
border: none;
}

.popover.fade-out {
  opacity: 0;
  display: none;
}

.menp {
    
   



  
    background: linear-gradient(180deg, #ffffff 30%, #ffffff33);
    width: 50%;
    height: 50%;
    border-radius: 10pt;
    display: flex;
    align-items: center; 
justify-content: center;
text-align: center;
position: fixed;
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
animation-name: ap;
animation-duration: 1s;
animation-fill-mode: forwards;
z-index: 1;
opacity: 80%;
padding:10%;
 backdrop-filter: blur(10px);
 border: white,solid,2px;
 

}

.contme {display: block; }

.menut { 
    font-size: 200%;
    font-weight: 400;
}

@keyframes ap {
    
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.menp1 {


  
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 10pt;
    display: flex;
    align-items: center; 
justify-content: center;
text-align: center;
position: fixed;
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
animation-name: gra;
animation-duration: 10s;
z-index: 0;
animation-iteration-count: infinite;
animation-direction: alternate;
opacity: 80%;
padding:10%;

}

@keyframes gra{

    0%{background-color:  #006858 ;
    }

    25%{background-color:  #8E2031 ;}

    50%{background-color:  #292E4D ;}

    100%{background-color:  #E17327 ;}
}

.linico {
    background-color: #FFFFFF;
    height: 0.5pt;
    opacity: 60%;
    margin-top: 2pt;
    margin-bottom: 2pt;
}

.botme {
    margin-top: 10pt;
    font-weight: 400;
    text-align: left;
 
}

.botme1 {
    margin-top: 5pt;
    font-weight: 400;
    text-align: left;
    
}

.herr {margin-top: 2pt;
margin-bottom: 2pt;
opacity: 40%;}
   

a {text-decoration:none; color: #111110;}

.herrse:hover { 
    text-shadow: 1px 1px 2px rgb(255, 255, 255),
    0 0 1em white,
    0 0 0.2em white;
}



.banner1 { background-color: black;

    width: 100%;
    height: 50vh;
}

.marco {
    width: 100%;
    height: 96%;
    align-items: center; 
    justify-content: center;
    text-align: center;
    display: flex;
}

.marco1 {
    width: 100%;
    align-items: center; 
    justify-content: center;
    text-align: center;
    display: block;
}


.sub {
    width: 100%;
    height: 2vh;
    bottom:1vh;
    background: linear-gradient(90deg,  #006858, #8E2031 0%  , #E17327  );
    z-index: 1;
    filter: blur(0.3rem);
    animation-name: gra1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-blend-mode: saturation;
    border-radius: 50%;
    animation-direction: reverse;
}

/*///////////////////////////////////*/

.btn-cerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: tomato;
    width: 15px;
    height: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
    border-radius: 3px;
}

.btn-cerrar:hover {
    transform: rotate(90deg);
}

.portada {
    width: 100%;
    object-fit: cover;
    border: 0;
    margin: 0;
    height:50vh;
}

.tit1 {
    font-family: "Roboto Flex", sans-serif;
    position: flex;
    color: wheat;
    font-size: 300%;
    z-index: 3;
}

.intro { position: relative;
z-index: 1; 
height: 50vh;  
animation-name: port;
animation-duration: 40s;
animation-iteration-count: infinite;} 

.hero { position: relative;
z-index: 2;   
height: 50vh;
 margin-top: -25vh;
padding: 1vh;
height: auto;
    max-height: 50vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column ;
letter-spacing:-3px;
font-family: "Roboto Flex", sans-serif;
font-size: clamp(2rem, 3vw, 5rem);
line-height: 100%;
padding: 10pt;} 

@keyframes port  {
    0% {filter: hue-rotate(0deg);}
    50% {filter: hue-rotate(360deg);}
    100% {filter: hue-rotate(0deg);}
}
